<header>
	  <div id="banner">
	    <div id="welcome">
	      <h3><span>Pinboard</span></h3>
	    </div><!--close welcome-->
	    <div id="welcome_slogan">
	      <h3>Your company slogan here</h3>
	    </div><!--close welcome_slogan-->
	  </div><!--close banner-->
    </header>

	<nav>
	  <div id="menubar">
        <ul id="nav">
          <li class="current"><a href="/home">Home</a></li>
          <li><a href="/ourwork">Our Work</a></li>
          <li><a href="/testimonials">Testimonials</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
      </div><!--close menubar-->
    </nav>
